.profile_container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.profile_title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

.logout_btn {
  background: #dc3545;
  border: none;
}

.logout_btn:hover {
  background: #bb2d3b;
}
